import React from 'react'
import { useTemplatesLoader } from "@newageerp/v3.templates.templates-core";

interface Props {
    fieldKey: string,
}

export default function {{ compName }}(props: Props) {
    const { data: tData } = useTemplatesLoader();
    const { element } = tData;

    return (
        <div>{{ compName }}</div>
    )
}
