import React, { Fragment } from 'react'
import { Label } from '@newageerp/ui.form.base.label'
import { useTranslation } from 'react-i18next';

export const {{ compName }} = () => {
    const {t} = useTranslation();

    return <Label>{t('{{ property.title }}')}</Label>
}