import React, { Fragment } from "react";
import { LayoutLeftMenuToolbar } from "@newageerp/ui.layout.base.layout-left-menu-toolbar";
import LeftMenu from "../../_custom/menu/LeftMenu";
import UserSpaceWrapperToolbar from "../../layout/toolbar/UserSpaceWrapperToolbar";
import TemplateLoader from "../../v3/templates/TemplateLoader";

interface Props {
  children?: any;
}

function UserSpaceWrapper(props: Props) {
  const isDev = (!process.env.NODE_ENV || process.env.NODE_ENV === 'development');

  return (
    <LayoutLeftMenuToolbar
      leftSideContent={
        <Fragment>
          <TemplateLoader 
          templateName="App.UserSpaceWrapper.LeftMenu" 
          data={
            {}
          }
          />
          <LeftMenu />
          {isDev && 
          <div>
            <a className="text-white mt-20" href="/app/nae-core/config-menu/regenerate" target="_blank">Regenerate menu</a>
          </div>
          }
        </Fragment>
      }
      toolbar={<UserSpaceWrapperToolbar />}
    >
      {props.children}
    </LayoutLeftMenuToolbar>
  );
}

export default UserSpaceWrapper;
