import { OpenApi } from "@newageerp/nae-react-auth-wrapper";
import React, { useEffect, Fragment, useState } from "react";
import NoteContentForm from "./NoteContentForm";
import NoteLine from "./NoteLine";
import { getKeysFromObject } from "../../v3/utils";
import { SFSSocketService } from "../../v3/navigation/NavigationComponent";
import { PageContainer } from "@newageerp/ui.ui-bundle";
import { useRecoilValue } from '@newageerp/v3.templates.templates-core';

const moduleName = "note";

interface Props {
  showOnlyMy?: boolean;
  schema: string,
  id: number,
  options?: any
}

interface INote {
  id: number;
  notifyAccept: any;
  notify: any;
  creator: {
    id: number;
    fullName: string;
  };
  createdAt: string;
  content: string;
  parentId: number;
  parentSchema: string;
  replyTo: number;
}
const defObject: INote = {
  id: 0,
  notifyAccept: 0,
  notify: 0,
  creator: {
    id: 0,
    fullName: "",
  },
  createdAt: "",
  content: "",
  parentId: 0,
  parentSchema: "",
  replyTo: 0,
};

const pageSize = 10;

export default function NotesContent(props: Props) {
  const {userState} = useTemplatesCore()

  const [pages, setPages] = useState(1);
  const [activePage, setActivePage] = useState(1);

  const [getData, getDataParams] = OpenApi.useUList<INote>(
    moduleName,
    getKeysFromObject(defObject)
  );

  const loadData = () => {
    getData(
      [
        {
          and: [
            ["i.parentId", "=", props.id, true],
            ["i.parentSchema", "eq", props.schema, true],
          ],
        },
      ],
      activePage,
      pageSize,
      [{ key: "i.id", value: "desc" }]
    );
  };
  useEffect(loadData, [activePage]);

  useEffect(() => {
    if (getDataParams.data) {
      setPages(Math.ceil(getDataParams.data.records / pageSize));
    }
  }, [getDataParams.data]);

  useEffect(() => {
    const action = "note-" + props.id + "-" + props.schema;
    SFSSocketService.addCallback(action, action + "-el", loadData);
    return () => {
      SFSSocketService.removeCallback(action, action + "-el");
    };
  }, [props.id, props.schema]);

  const data: INote[] = getDataParams.data.data;

  const dataForRender = !props.showOnlyMy
    ? data
    : data.filter(
        (el) =>
          el.notify.indexOf(userState.id) >= 0 ||
          el.notify.indexOf(userState.permissionGroup) >= 0 ||
          (!!el.creator &&
            el.creator.id === userState.id &&
            el.notify.length === 0)
      );

  return (
    <Fragment>
      <NoteContentForm
        parentElementId={props.id}
        reloadData={loadData}
        parentSchema={props.schema}
        options={props.options}
        defaultSelected={
          props.options.defaultSelected
            ? props.options.defaultSelected
            : undefined
        }
      />

      <div className={""}>
        {data.length > 0 && (
          <Fragment>
            <div className={"w-full px-4 space-y-2"}>
              {dataForRender.map((note: INote) => {
                return (
                  <NoteLine
                    note={note}
                    doReload={loadData}
                    key={"note-line-" + note.id}
                  />
                );
              })}
              <div className={"clear-both"}></div>
            </div>
          </Fragment>
        )}
        <PageContainer
          activePage={activePage}
          pages={pages}
          setActivePage={setActivePage}
        />
      </div>
    </Fragment>
  );
}
