import React, { useState, useEffect, Fragment } from "react";
import { useTranslation } from "@newageerp/v3.templates.templates-core";
import parse from "html-react-parser";
import { OpenApi } from "@newageerp/nae-react-auth-wrapper";
import { LogoLoader } from "@newageerp/v3.bundles.layout-bundle";
import { Table, Td, Th } from "@newageerp/ui.ui-bundle";
import { Popup } from "@newageerp/ui.ui-bundle";
import { TwoLinesDatetime } from "@newageerp/data.view.date.base.two-lines-datetime";
import { getKeysFromObject } from "@newageerp/v3.bundles.utils-bundle";

interface Props {
  schema: string,
  id: number,
}

interface IData {
  id: number;
  createdAt: string;
  subject: string;
  creator: {
    fullName: string;
  };
  recipient: string;
  parentId: number;
  parentSchema: string;
  html: string;
  lastStatus: string;
}

const defObject: IData = {
  id: 0,
  createdAt: "",
  subject: "",
  creator: {
    fullName: "",
  },
  recipient: "",
  parentId: 0,
  parentSchema: "",
  html: "",
  lastStatus: "",
};

const moduleName = "mail";

export default function MailsContent(props: Props) {
  const { t } = useTranslation();

  const [getData, getDataParams] = OpenApi.useUList<IData>(
    moduleName,
    getKeysFromObject(defObject)
  );
  const [getFiles, getFilesParams] = OpenApi.useURequest("NAEfilesList");

  const [files, setFiles] = useState<any>([]);
  const getFileName = (id: number) => {
    const _filesF = files.filter((f: any) => f.id === id);
    if (_filesF.length > 0) {
      return _filesF[0].filename;
    }
    return "";
  };

  const folder = props.schema + "/" + props.id + "/%";

  const [popupMail, setPopupMail] = useState<IData | null>(null);

  const loadData = () => {
    getFiles({ folder }).then((f: any) => {
      const sFiles = !!f && !!f.data && !!f.data.data ? f.data.data : [];
      setFiles(sFiles);
      const fileIds = [-2, ...sFiles.map((_f: any) => _f.id)];

      getData(
        [
          {
            or: [
              {
                and: [
                  ["i.parentId", "=", props.id, true],
                  ["i.parentSchema", "equal", props.schema, true],
                ],
              },
              {
                and: [
                  ["i.parentId", "in", fileIds, true],
                  ["i.parentSchema", "equal", "file", true],
                ],
              },
            ],
          },
        ],
        1,
        99999,
        [{ key: "i.id", value: "DESC" }]
      );
    });
  };
  useEffect(loadData, []);

  const data =
    !!getDataParams && !!getDataParams.data && !!getDataParams.data.data
      ? getDataParams.data.data
      : [];
  const isLoading =
    (!!getDataParams && getDataParams.loading) ||
    (!!getFilesParams && getFilesParams.loading);

  return (
    <Fragment>
      {isLoading ? (
        <LogoLoader />
      ) : (
        <div className={"tw3-px-4 tw3-bg-white dark:tw3-bg-gray-800 tw3-py-2 tw3-rounded-sm"}>
          <Table
            thead={
              <thead>
                <tr>
                  <Th>{t("Laikas")}</Th>
                  <Th>{t("Failas")}</Th>
                  <Th>{t("Tema")}</Th>
                  <Th>{t("Siuntėjas")}</Th>
                  <Th>{t("Gavėjas")}</Th>
                  <Th>{t("Paskutinis statusas")}</Th>
                </tr>
              </thead>
            }
            tbody={
              <tbody>
                {data.map((mail: IData) => {
                  return (
                    <tr id={`mail-${mail.id}`}>
                      <Td className="tw3-whitespace-nowrap">
                        <button onClick={() => setPopupMail(mail)}>
                          <TwoLinesDatetime value={mail.createdAt} />
                        </button>
                      </Td>
                      <Td>
                        {mail.parentSchema === "file"
                          ? getFileName(mail.parentId)
                          : ""}
                      </Td>
                      <Td>{mail.subject}</Td>
                      <Td>{mail.creator ? mail.creator.fullName : ""}</Td>
                      <Td>{mail.recipient}</Td>
                      <Td>
                        {mail.lastStatus in possibleTranslates
                          ? possibleTranslates[mail.lastStatus]
                          : mail.lastStatus}
                      </Td>
                    </tr>
                  );
                })}
              </tbody>
            }
          />
        </div>
      )}
      {!!popupMail && (
        <Popup onClose={() => setPopupMail(null)} header={popupMail.subject}>
          <div>{parse(popupMail.html)}</div>
        </Popup>
      )}
    </Fragment>
  );
}

const possibleTranslates: any = {
  sent: "Išsiųstas",
  open: "Atidarė",
  bounce: "Grąžintas",
  spam: "SPAM",
  blocked: "Blokuotas",
};
