<style>
	textarea {
		min-width: 640px;
	}

	input {
		min-width: 300px;
		padding: 3px 5px;
	}
</style>
<div>{{ fileName }}</div>

<form method="post" action="app/nae-core/bin/file-save">
	<div>
		<input type="text" value="{{ fileName }}" name="file"/>
	</div>
	<div>
		<textarea rows="20" name="content">{{ fileContents }}</textarea>
	</div>
	<input type="submit" value="Submit"/>
</form>
